.post-content {
    max-width: 80%;
}

.post-info {
    padding: 20px;
    max-width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;
    border: 2px solid;
    border-radius: 10px;
    column-count: 2;
    column-width: auto;
    column-rule: dotted;
}
#run-date {
    vertical-align: top;
    text-align: left;
}

/* #run-name {
    text-align: left;
} */
.song-list-wrapper{

    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding:0;
    margin: 0;
    overflow: auto;
}
.song-list {
    list-style-type: none;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding:0;
    margin: 0;
    overflow: auto;


}
.song-list-open {
    list-style-type: none;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding:0;
    margin: 0;
    overflow: auto;

}
.song-list li, .song-list-open li {
    max-width: max-content;
    align-items: stretch;
    max-width: 120px;
}
.song-list li:nth-child(n+7) {
    display: none;
    max-width: max-content;
    align-items: stretch;
    max-width: 120px;
}
.song-list-open li:nth-child(n+7) {
    display: inline-flex;
    max-width: max-content;
    align-items: stretch;
    max-width: 120px;
}