.post-feed{
    background-color: #ffeecc;
    background-image: linear-gradient(#ffdf9f, #ffeecc);
    height: 100%;
    width: 100vw;
}

.post-feed #total-logout{
    list-style-type: none;
    display: inline-flex;
}
.post-feed #logins{
    list-style-type: none;
    display: inline-flex;
}
#spinner{
    width: fit-content;
    margin-left: 100%;
    margin-top: -30%;
    padding: 5px;
}
#sidebar-button{
    transition: all .3s ease;
    margin-top: 8px;
    position: fixed;
    width: fit-content !important;
    right: 23%;
    background-color: #ffeecc;
}
@media screen and (max-width: 850px){
    #sidebar-button{
        display: flex;
        transition: all .3s ease;
        right: auto;
    }
}

#side-btn-image{
    width: 25px;
    height: auto;
}
.post-feed ul li {
    padding: 9px;

}
.str-button{
    background-color: #fff8ea !important;
}
.str-button:hover{
    border-color: rgb(216, 141, 2) !important;
    color: black !important;
}
.spotify-button{
    background-color: #fff8ea !important;
}
.spotify-button:hover{
    border-color: green !important;
    color: black !important;
}
.logout-button{
    background-color: #fff8ea !important;
}
.logout-button:hover{
    border-color: rgb(255, 145, 0) !important;
    color: black !important;
}

