#title-screen{
    margin-top: 12%;
    margin-left: 200px;
    height: 100%;
}
#title{
    font-size: 50pt;
}
#site-demo{
    width: 940px; 
    height: auto;
}
#demo-container{
    width: 940px;
    height: 565px;
    border-radius: 10px; 
    overflow: hidden; 
    float: right;
    margin-right: 8%;
    margin-top: -15%;
}