#title-screen{
    margin-top: 12%;
    margin-left: 10%;
    height: 100%;
}
#title{
    font-size: 50pt;
    padding-left: 20px;
}
#title-screen p{
    padding-left: 20px
}
.demo-vid{
    width: 100%; 
}
.right{ 
    float: right;
    margin-right: 8%;
    margin-top: -15%;
    width: 60%;
}
.demo-wrapper{
    max-width: 70%;
    min-width: 300px;
    border-radius: 15px; 
    overflow: hidden; 
    // border: 1px solid black;
}