@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// @media screen and (max-width: 850px){
//     #user-info, #color-text, #sidebar-title h1{
//         display: none;
//     }
// }
// @media screen and (min-width: 850px){
//     #user-info, #color-text, #sidebar-title h1{
//         display: block;
//     }
// }
.hidden{
    display: none;
}
.sidebar {
    background-image: linear-gradient(rgb(14, 13, 13), grey) !important;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    min-width: 15%;
    max-width: 30%;
    width: 20vw;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    transition: all .3s ease;
}
#logo{
    margin-right: 20px;
    margin-top: 5px;
}
#sidebar-title{
    display: inline-flex;
}
.customButton {
    width: 90% !important;
}
.sidebar h1 {
    color: aliceblue;
    text-align: center;

}
.sidebar #strava-user h4 {
    color: aliceblue;
}
.sidebar #spotify-user h4 {
    color: aliceblue;
}
.sidebar #user-info {
    list-style-type: none;
    position: relative;

}

#stravaProfButton {
    transition: box-shadow .3s !important;
    border-radius: 15px;
    display: flex;    
    align-items: center;

}
.collapse{
    width: 90%;
    align-items: center;

}
.collapse h4{
    text-align: left;
}
.collapsing h4{
    text-align: left;
}

.collapsing{
    width: 90%;
    align-items: center;
}
.sidebarCollapse {
    background-color:#ffeecc !important;
}

#run-totals p, #distance-totals p, #ytd-totals p, #ytd-distance-totals p{
    font-size: 20px;

}

#stravaProfButton:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2) !important;
    color: rgb(216, 141, 2) !important;   

}
#spotifyProfButton {
    transition: box-shadow .3s !important;
    border-radius: 15px;
    display: flex;    
    align-items: center;

}
#spotifyProfButton:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);  
    color: green;

}

.sidebar #strava-user img{
    width: 70px;
    height: 70px;   
}
.sidebar #strava-user h4 {
    font-size:14pt;
    display: inline;
    padding-left: 10px;

}

.sidebar #spotify-user img{
    width: 70px;
    height: 70px;   

}
.sidebar #spotify-user h4 {
    font-size: 14pt;
    display: inline;
    padding-left: 10px;
}

#top-tracks, #top-artists {
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding:0;
    margin: auto;
    overflow: auto;
    
}
#top-tracks li, #top-artists li {
    max-width: max-content;
    align-items: stretch;
    max-width: 85px;
    font-size: 11pt;
}
#top-tracks img, #top-artists img {
    padding: 3px;
}

h5 {
    padding: 5px;

}
#color-text {
    background-color: $orange-100 !important;
    max-width: 90%;
    align-items: center;
    margin: auto;
    border-radius: 5px;
}