.chart-dropdown {
    justify-content: center !important;
    align-items: center;
    margin: auto !important;
    text-align: center;
}

.chart-image {
    border: 2px solid black;
    border-radius: 5px !important;
}